<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Poke Central</title>
        <meta charset="UTF-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
    	<header>
			<div style="float: right;">
				<a href="/logout">Logout</a>
			</div>
		</header>

        <h1>Welcome, {{request.session.user_alias}} {{request.session.user_id}} !</h1>
            <h3>{{ numb_my_pokers }} people have poked you.</h3>
		<br>
 				{% for poker in all_pokers %}
	                    <p>{{poker.alias}} poked you{% for poke in these_pokes %} {% if poke.poke_giver_id == poker.id %}{{ poke.total_pokes }} times. {% endif %} {% endfor %}</p>
                {% endfor %}
					<br><br>

		<h2>People you may want to poke...</h2>
		<table>
			<tr>
				<td>Name</td>
				<td>Alias</td>
				<td>Email</td>
				<td>Poke History</td>
				<td>Action</td>
			</tr>
			{%for user in users%}
			<tr>
				<td>{{user.id}} {{user.name}}</td>
				<td>{{user.alias}}</td>
				<td>{{user.email}}</td>
				{%for poke in pokes%}
					{% if poke.poke_receiver == user.id %}
					<td>{{poke.sum}}</td>
					{%endif%}
				{%endfor%}
				<td><a href={% url 'addPoke' user.id %}>Poke</a></td>
			</tr>
			{%endfor%}
		</table>
    </body>
</html>